name: demo-workflow
on:
  push:
    branches: [main,deploy]
jobs:
  job1:
    runs-on: ubuntu-latest
    outputs:
      data: ${{ steps.step_id.outputs.data_in }}
    steps:
      - id: step_id
        run: |
          echo "hello world"
          echo "data_in=1" >> $GITHUB_OUTPUT
  job2:
    runs-on: ubuntu-latest
    outputs:
      data: ${{ steps.step_id.outputs.data_in }}
    needs: [job1]
    steps:
      - id: step_id
        run: |
          echo "hello world job 2"
          echo "data_in=2" >> $GITHUB_OUTPUT
  job3:
    runs-on: ubuntu-latest
    needs: [job1,job2]
    steps:
      - name: Deploy to VPS
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{secrets.VPS_HOST}}
          username: ${{secrets.VPS_USER}}
          key: ${{secrets.VPS_KEY}}
          port: 22
          debug: true
          script: |
            cd /var/www/html/devops_hospitall_reactjs_csharp
            git pull
            docker-compose down
            docker-compose build
            docker-compose up -d
            docker images -f "dangling=true" -q | xargs docker rmi

       

