name: demo-workflow
on:
  workflow_dispatch:
jobs:
  run-demo:
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo "hello world"
          curl https://apistore.cybersoft.edu.vn/api/Product

       

